[submodule "Hardware"]
	path = Hardware
	url = https://github.com/CS30500/Hardware.git
[submodule "BackEnd"]
	path = BackEnd
	url = https://github.com/CS30500/BackEnd.git
[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/CS30500/FrontEnd.git
[submodule "Diagrams"]
	path = Diagrams
	url = https://github.com/CS30500/Diagrams.git
